.character-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 35px;
}

.star-container {
  cursor: pointer;
  margin-top: 15px;
}

.events {
}
