.character-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 35px;
}

.star-container {
  cursor: pointer;
  margin-top: 15px;
}
.caret {
  cursor: pointer;
}
.character-events {
  list-style-type: none;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  //need fix
}
.character-heading {
  margin-bottom: 10px;
}
